{% extends "base.html" %}

{% block content %}


<div class="container">
	<h3>1. Show or No Show</h3>
	<p>Predict if patients will show up to their appointments or not</p>
	<div class="col-md-4 col-md-offset-4">
		<h2>Prediction</h2>
		{% if show_prob and noshow_prob %}

			<h3 style="color:green">The Patient will show with a probability of {{ show_prob }}  </h3>

			<br>
			<hr>
			<br>
			<h3 style="color:red">The Patient will notshow with a probability of {{ noshow_prob }}  </h3>

		{% endif %}
		<br>
		<hr>
		<br>
		<h1><a href="{{ url_for('predict') }}">New Prediction</a></h1>
	</div>
</div>

{% endblock %}